<!DOCTYPE html>

<head>


	<meta charset="utf-8">
	<title>zMovie</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style_recommend.css">
	<link rel="stylesheet" href="/static/css/responsive.css">



</head>
<body>
<div class="wrap-body">

<!--////////////////////////////////////Header-->
<header>
	<div class="top-bar">
		<div class="wrap-top zerogrid">
		</div>
	</div>
	<div class="wrap-header zerogrid">
		<div class="row">
			<div class="col-1-2">
				<div class="wrap-col">
					<div class="logo"><a href="#"><img src="/static/images/recommend/logo.png"/></a></div>
				</div>
			</div>
			<div class="col-1-2">
				<div class="wrap-col f-right">
{#					<form method="get" action="/search" id="search"  >#}
{#					  <input name="q" type="text" size="40" placeholder="Search..." />#}
{#					  <input type="submit" value="Submit">#}
{#					</form>#}
                     <h3><font color="aqua"><a href={%   url "public_article" %}>主页</a></font> </h3>
				</div>
			</div>
		</div>
	</div>


<!--////////////////////////////////////Container-->
<section id="container">
	<div class="wrap-container zerogrid">
		<div id="main-content" class="col-2-3">
			<div class="wrap-content">

				<div class="serie">
					<div class="row type">
                        <center>你还没添加电影，先给你推荐几部。</center>
						<div class="title">
							<center><h2>POPULAR-MOVIE</h2></center>
						</div>
					</div>
					<div class="row">

						{% for i in list_p %}
						<div class="col-1-2">
							<div class="wrap-col">
								<div class="post">
									<div class="view effect">

									 <img class="thumb" src="/static/images/temp/{{ i.0 }}.jpg"  />
									  <div class="mask">
										<a href="single.html" class="info" title="Full Image"><img src="/static/images/recommend/play_button_64.png" /></a>
									  </div>

									</div>
									<div class="clear"></div>
									<a><h3>{{ i.1|slice:":40" }}</h3></a>
									<a><h5><font color="#e9967a">{{ i.2 }}</font> </h5></a>
								</div>
							</div>
						</div>
						{%endfor%}

					</div>


				</div>
			</div>
		</div>
		<div id="sidebar" class="col-1-3">
			<div class="wrap-sidebar">
				<!---- Start Widget ---->
				<div class="widget wid-new-updates">
					<div class="wid-header">
						<h5>Hot Updates !</h5>
					</div>
					<div class="wid-content">
						<ul>
						<li><a href="#">Mad Max: Fury Road</a><span><img src="/static/images/recommend/hot.png" /></span></li>
						<li><a href="#">The Age of Adaline</a><span><img src="/static/images/recommend/hot.png" /></span></li>
						<li><a href="#">Pound of Flesh</a><span><img src="/static/images/recommend/hot.png" /></span></li>
						<li><a href="#">Bloodbath Island</a><span><img src="/static/images/recommend/hot.png" /></span></li>
						<li><a href="#">Pound of Flesh</a><span><img src="/static/images/recommend/hot.png" /></span></li>
						</ul>
					</div>
				</div>

				<!---- Start Widget ---->
				<div class="widget wid-post">
					<div class="wid-header">
						<h5>Today's movies</h5>
					</div>
					<div class="wid-content">
						<div class="post">
							<a href="#"><img src="/static/images/recommend/1.jpg"/></a>
							<div class="wrapper">
							  <a href="#"><h6>A Blue Morning</h6></a>
							  <p>March 1, 2015</p>
							  <a href="#"><img src="/static/images/recommend/star.png" /></a>
							</div>
						</div>
						<div class="post">
							<a href="#"><img src="/static/images/recommend/2.jpg"/></a>
							<div class="wrapper">
							 <a href="#"><h6>A Blue Morning</h6></a>
							  <p>March 1, 2015</p>
							  <a href="#"><img src="/static/images/recommend/star.png" /></a>
							</div>
						</div>
						<div class="post">
							<a href="#"><img src="/static/images/recommend/3.jpg"/></a>
							<div class="wrapper">
							 <a href="#"><h6>A Blue Morning</h6></a>
							  <p>March 1, 2015</p>
							  <a href="#"><img src="/static/images/recommend/star.png" /></a>
							</div>
						</div>
					</div>
				</div>
				<!---- Start Widget ---->

			</div>
		</div>
	</div>
</section>

<!--////////////////////////////////////Footer-->
<footer>

	<div class="bottom-footer">
		<div class="wrap-bottom ">
			<div class="copyright">
				<p>2018 Film-recommend </p>
			</div>
		</div>
	</div>
</footer>

</header></div>